* {
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #FFF;
    color: #FFF;
}

p {
    line-height: 25px;
}

a {
    text-decoration: none;
    color: inherit;
    transition: 0.2s;
}

a:hover {
    color: rgb(6, 0, 119);
    cursor: pointer;
}

img {
    width: 170px;
    border-radius: 100%;
}

header {
    background: url("./assets/img/background.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: 25px;
}

header .header-content {
    width: 200px;
    margin: 0 auto 0;
    text-align: center;
    padding: 70px 0;
}



.social-button {
    display: flex;
    justify-content: center;
    padding: 20px;
 
}
  
  
.social-button .button {
    padding: 15px;
    font-size: 28px;
    transition: 0.2s;
    color: #FFF;
}

.linkedin:hover {
    background: #0077b5;
}

.github:hover {
    background: #6e5494;
}

.codepen {
    color: #212121;
}

.codepen:hover {
    background: #212121;
}